<%= form_with(model: @listing, data: {turbo: :false}) do |f| %>
	<div class='form-control'>
		<fieldset class="mb-2">
			<%= f.label :title, class: "col-sm-2 col-form-label" %>
			<%= f.text_field :title, class: "form-control" %>
		</fieldset>
    <fieldset class="mb-2">
			<%= f.label :shipment, class: "col-sm-2 col-form-label" %>
			<%= f.collection_select :shipment, [['Shipment is unavailable for this item', false], ['Shipping is available for this item', true]] class: "form-control" %>
		</fieldset>
		<fieldset class="mb-2">
      <%= f.label :price, class: "col-sm-2 col-form-label" %>
			<%= f.number_field :price, value: @listing.price ? '%.2f' % @listing.price : nil, min: 0, step: 0.01, class: "form-control" %>
    </fieldset>
	  <fieldset class="mb-2">
			<%= f.label :category_id, class: "col-sm-2 col-form-label" %>
			<%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
		</fieldset>
		<% if @listing.images.attached? %>
			<% @listing.images.each do |image| %>
				<fieldset class="mb-2">
				  <%= cl_image_tag image.key, class: 'm-2', transformation: ["media_lib_thumb"], cloud_name: ENV['CLOUDINARY_CLOUD_NAME'] %>
				</fieldset>
			<% end %>
		<% end %>
		<fieldset class="mb-2">
			<%= f.label :images, class: "col-sm-2 col-form-label" %>
			<%= f.file_field :images, multiple: true, class: "form-control" %>
		</fieldset>
		<fieldset class="mb-2">
			<%= f.label :description %>
			<%= f.text_area :description, class: 'form-control' %>
		</fieldset>
		<fieldset>
			<%= f.submit class: 'btn btn-primary' %>
		</fieldset>
	</div>
<% end %>