<h1 class= 'm-2'><%= @listing.title %></h1>
<p class= 'm-2'>Seller name: <%= @listing.user.name %></p>
<p class= 'm-2'>Price: $<%= @listing.price %></p>
<p class= 'm-2'>Seller's e-mail: <%= @listing.user.email %></p>
<p class= 'm-2'>Seller's Phone number: <%= @listing.user.phone_number %></p>

<% if @listing.images.attached? %>
    <% for image in @listing.images do %>
      <%= cl_image_tag(image.key, class: 'm-2 img-fluid', crop: :scale, width: 400, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) %>
    <% end %>
<% end %>
<br>
<% if user_signed_in? %>
  <button data-stripe="payment">Purchase Now</button>

  <%= link_to 'Back', listings_path %>
  <script src="https://js.stripe.com/v3/"></script>

  <script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
      const stripe = Stripe("<%= ENV['STRIPE_PUB_KEY'] %>");
      stripe.redirectToCheckout ({
        sessionId: "<%= @session_id %>"
      });
    });
  </script>
<% end %>
<p class= 'm-2'><%= @listing.description %> </p>
<% if user_signed_in? && (@listing.user.id == current_user.id || current_user.has_role?(:admin)) %>
  <div class="btn-toolbar mt-2">
    <%= link_to('Edit', edit_listing_path(@listing), class: 'btn-sm btn-warning m-2') %>
    <%= button_to('Delete', @listing, class: 'btn-sm btn-danger m-2', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@listing.title}' ?" } }) %>
  </div>
<% end %>
